@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: #c1c1c1;
}
a:visited {
	color: #ff6760;
}

a:hover {
	color: #fff;
}

a:active {
	color: #ff6760;
}
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	background: #262626;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	height: 100px;
}

.container {
	display: block;
	max-width: 1120px;
	min-width: 800px;
	margin: auto;
	padding: 0;
	text-align: center;
}

.vert-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	background: #262626;
}

.nav-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.wpLogo {
	display: flex;
	align-items: center;
	padding: 0;
}
.wpLogo>div {
	color: #d9d9d9;
	font-family: cursive;
	font-size: 2rem;
}
.navLink {
	margin: 0 0 0 50px;
	color: #d9d9d9;
	font-size: 13px;
	text-transform: uppercase;
}

.nav2 {
	height: 100px;
}

.section1 {
	height: 396px;
	background: #2a2a2a;
	transform-style: preserve-3d;
}



.sec1h2 {
	font-size: 3.5rem;
	font-weight: 300;
	margin: 0 0 20px 0;
	padding: 0;
	color: #d9d9d9;
	letter-spacing: 2px;
}

.sec1container>p {
	color: #d9d9d9;
	font-size: 2.5rem;
	font-weight: 100;
	margin: 0 0 50px 0;
	padding: 0;
	letter-spacing: 1px;
}

.portfoliolink {
	display: inline-block;
	margin: auto;
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	background: #ff6760;
	width: 178px;
	padding: 16px 10px;
	border-radius: 5px;
}
.portfoliolink:visited {
	color: #fff;
}

.section2 {
	height: 369px;
	background: #eee;
	transform-style: preserve-3d;
}

.utilities {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: 300;
}
.utilItem {
	align-self: flex-end;
	height: auto;
	width: 250px;
	margin: 0 auto;
	color: #616161;
}

.section3 {
	height: 1004px;
	transform-style: preserve-3d;
	background: #fff;
	color: #616161;
}

.section3 h3 {
	font-size: 2rem;
	font-weight: ;
	margin: 0 0 20px 0;
	padding: 0;
	color: #616161;
}

.section3 p { 
	margin: 0 0 60px 0;
	font-size: 1.34rem;
	font-weight: 100;
}

.section3 ul {
	margin: 0 0 20px 0;
}

.section3 li {
	display: inline-block;
}
.button {
	margin: 0 2px;
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: none;
	background: #ff6760;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: .75rem;
	font-weight: 500;
}

.button:focus {
	background: #595959;
	outline: 0;
}

.featuredBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1120px;
	height: auto;
	padding: 0;
	margin: auto;
}

.featuredItem {
	height: 220px;
	width: 270px;
	margin: 5px;
	padding: 0;
	border: none;
}

footer {
	background: #313131;
	height: 286px;
	transform-style: preserve-3d;
}

.footercontainer {
	color: #bebebe;
	font-weight: lighter;
	font-size: 1rem;
}

footer h3 {
	margin: 0 0 15px 0;
	color: #e0e0e0;
	font-size: 2rem;
}
footer p {
	margin: 0 0 26px 0;
	color: #bebebe;
	font-size: 1.3rem;

}

footer ul {
	margin: 0 0 30px 0;
}

footer li {
	display: inline;
	font-size: 1rem;
	font-weight: 300;
	color: #bebebe;
	margin: 0 15px;
}

footer a {
	display: inline-block;

}

footer img {
	margin: 0 5px 0 0;
}

.icon {
	display: inline-block;
	width: auto;
	margin: 0px 1px;
	padding: 0;
}

.icon img {
	border-radius: 50%;
}

.bottomThing {
	height: 82px;
	color: #bebebe;
	font-weight: 300;
	background: #2c2c2c;
	transform-style: preserve-3d;
	text-align: center;
}
